.image_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 600px) {
    .image_container {
        flex-direction: column;
    }
}

.name {
    color: green;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.logo img {
    height: 50px;
}

.alert-danger {
    color: red;
    font-weight: bold;
    margin-bottom: 1%;
    text-align: center;
}

label {
    font-family: 'Times New Roman', Times, serif;
}

input {
    margin-bottom: 5%;
}

.submit {
    text-align: center;
    background: green;
}

.submit:hover {
    cursor: pointer;
    color: crimson;
}

.dont_have_account {
    text-align: center;
    justify-content: center;
    display: flex;
}

.dont_have_account:hover {
    cursor: pointer;
    color: rgb(20, 220, 117);
}

.login {
    align-items: center;
    justify-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.form-container button {
    margin-bottom: 10px;
}

.form-container form {
    display: none;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.label {
    margin-bottom: 3px;
}

.sug_records {
    color: green;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.sug_records1 {
    color: green;
}

.sug_records2 {
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    text-decoration: underline;
}

.logo {
    position: relative;
    top: 0;
    left: 0;
    z-index: 9999;
    max-width: 100px;
    padding: 10px;
    flex-wrap: wrap;
    display: flex;
}

.hidden1 {
    display: none;
}

.hidden2 {
    display: none;
}

.popup-records {
    top: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
}

.popup-content-records {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
}

.table-section-records {
    flex: 1;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    max-height: 600px;
    /* Set a maximum height for the table section */
    overflow: auto;
    /* Enable vertical scrolling */
}

.table-section-records table {
    width: 100%;
    border-collapse: collapse;
}

.table-section-records th,
.table-section-records td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-section-records td.right-align {
    text-align: right;
}

.button-records {
    display: inline-block;
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button-records:hover {
    background-color: #286090;
}

.logout {
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.logout:hover {
    background-color: rgb(0, 85, 255);
}

#login-status {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f0f2f4;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    color: green;
    font-style: italic;
    font-weight: bold;
    font-size: medium;
    border: 1px solid black;
}