.image_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 600px) {
    .image_container {
        flex-direction: column;
    }
}

.name {
    color: green;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.alert-danger {
    color: red;
    font-weight: bold;
    margin-bottom: 1%;
    text-align: center;
}

label {
    font-family: 'Times New Roman', Times, serif;
}

.submit {
    background: green;
}

.submit:hover {
    cursor: pointer;
    color: crimson;
}

.login {
    align-items: center;
    justify-content: center;
    height: 100%;
    display: flex;
}

.logout {
    text-decoration: none;
    font-weight: bold;
}

.sug_records {
    color: green;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.sug_records1 {
    color: green;
}

.sug_records2 {
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    text-decoration: underline;
}

.logo {
    position: relative;
    top: 0;
    left: 0;
    z-index: 9999;
    max-width: 100px;
    padding: 10px;
    flex-wrap: wrap;
    display: flex;
}