.image_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 600px) {
    .image_container {
        flex-direction: column;
    }
}

.name {
    color: green;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.alert-danger {
    color: red;
    font-weight: bold;
    margin-bottom: 1%;
    text-align: center;
}

label {
    font-family: 'Times New Roman', Times, serif;
}

input {
    margin-bottom: 5%;
}

.submit {
    text-align: center;
    background: green;
}

.submit:hover {
    cursor: pointer;
    color: crimson;
}

.dont_have_account:hover {
    cursor: pointer;
    color: rgb(20, 220, 117);
}

.login {
    align-items: center;
    justify-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.form-container button {
    margin-bottom: 10px;
}

.form-container form {
    display: none;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.logout {
    text-decoration: none;
    font-weight: bold;
}

.sug_records {
    color: green;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.sug_records1 {
    color: green;
}

.sug_records2 {
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    text-decoration: underline;
}

.logo {
    position: relative;
    top: 0;
    left: 0;
    z-index: 9999;
    max-width: 100px;
    padding: 10px;
    flex-wrap: wrap;
    display: flex;
}

.hidden1 {
    display: none;
}

.hidden2 {
    display: none;
}

.logout {
    text-decoration: none;
    font-weight: bold;
}