<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>record payments</title>
</head>

<body>

    <header>
        <div class="logo">
            <img src="/static/cover.jpg" alt="Logo">
        </div>
        <nav>
            <a class="logout" href="{{url_for('logoutAdmin')}}">Logout</a>
            <button id="view-records-button" class="button-records">View records</button>
            <button class="button-records" onclick="downloadCSV()">Download records</button>
            <p id="login-status">Logged in as {{session['name']}}</p>
        </nav>

        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div id="alert" class="alert-danger">{{ message }}</div>
        {% endfor %} {% endif %} {% endwith %}

        <script type="text/javascript">
            function hideAlert() {
                setTimeout(function() {
                    document.getElementById("alert").style.display = "none";
                }, 6000);
            }
            window.onload = hideAlert;
        </script>
    </header>

    <div id="popup_records" class="popup-records">
        <div class="popup-content-records">
            <div class="table-section-records">
                <div>
                    <h3>Performance for {{name}}</h3>
                    {% if 'records' in session %} {{ session['records']|safe }} {% else %}
                    <p>No records available.</p>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

    <div>
        <h3 class="name">RECORD PAYMENT</h3>
    </div>

    <div class="login">
        <form action="{{url_for('payment')}}" method="POST">
            <label style="text-decoration: underline; font-weight: bold; font-style: italic;">Payee details</label><br>
            <label class="label" for="fname">Select payee`s first name</label><br>
            <select class="label" name="f_name">
                <option value="" selected disabled>Select name</option>
                {%for fnames in fnames%}
                    <option value="{{fnames}}">{{fnames}}</option>
                {%endfor%}
            </select><br>
            <label class="label" for="sname">Select payee`s surname</label><br>
            <select class="label" name="s_name">
                <option value="" selected disabled>Select name</option>
                {%for snames in snames%}
                    <option value="{{snames}}">{{snames}}</option>
                {%endfor%}
            </select><br>
            <label for=" ">Month paid for</label><br>
            <select aria-placeholder="month paid for" style="margin-bottom: 5%;" name="month">
                <option value="january">january</option>
                <option value="february">february</option>
                <option value="march">march</option>
                <option value="april">april</option>
                <option value="may">may</option>
                <option value="june">june</option>
                <option value="july">july</option>
                <option value="august">august</option>
                <option value="september">september</option>
                <option value="october">october</option>
                <option value="november">november</option>
                <option value="december">december</option>
            </select><br>
            <input placeholder="amount" name="amount" type="number" min="0" max="30000" required><br>
            <input class="submit" type="submit" value="Submit">
        </form>
    </div>

    <script>
        let formVisible = false;
        document.getElementById('view-records-button').addEventListener('click', function() {
            if (formVisible) {
                document.querySelector('.popup-records').style.display = 'none';
                document.getElementById('view-records-button').textContent = 'View Records';
                formVisible = false;
            } else {
                document.querySelector('.popup-records').style.display = 'block';
                document.getElementById('view-records-button').textContent = 'Hide Records';
                formVisible = true;
            }
        });

        function downloadCSV() {
            window.location.href = "/download_csv";
        }
    </script>

    <script type="text/javascript">
        function hideAlert() {
            setTimeout(function() {
                document.getElementById("alert").style.display = "none";
            }, 5000);
        }
        window.onload = hideAlert;

        function convertToLowercase(inputId) {
            var input = document.getElementById(inputId);
            input.value = input.value.toLowerCase();
        }
    </script>

</body>

</html>